.languagePicker {
    word-break: break-word;
    background: white;
    border: 1px solid hsl(198 12% 87%);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    margin-bottom: 0.3125rem;
    cursor: pointer;
    width: fit-content;
    transition:
        border-color 200ms ease,
        box-shadow 200ms ease;
}

.languagePicker:hover {
    border-color: #78bd27;
    box-shadow:
        0 2px 6px hsl(198 20% 20% / 0.06),
        0 8px 24px hsl(198 20% 20% / 0.06);
}

.languagePickerIcon {
    margin-bottom: 0.15625rem;
    margin-left: 0.125rem;
}
