.container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.75em;
}

.message {
    padding: 0.75em 1em;
    background: hsl(var(--secondary));
    color: hsl(var(--foreground));
    border-radius: 1.25em;
    border-bottom-right-radius: 0.375em;
    font-weight: 400;
    line-height: 1.5;
    max-width: 80%;
}
