.loginButton {
    border-radius: 0.375em;
    font-weight: 400;
    margin: 0;
    padding: 0.375rem 0.875rem;
    border-color: hsl(0 0% 100% / 0.25);
    color: hsl(0 0% 97%);
    background: transparent;
    font-size: 0.875rem;
}

.loginButton:hover {
    background: hsl(0 0% 100% / 0.1);
    color: hsl(0 0% 100%);
    border-color: hsl(0 0% 100% / 0.4);
}
