.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    display: flex;
    flex: 1;
    min-height: 0;
}

.header {
    background: #01293a;
    color: hsl(0 0% 97%);
    border-bottom: 2px solid #78bd27;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.25rem;
    position: relative;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    color: hsl(0 0% 97%);
    text-decoration: none;
    transition: opacity 200ms ease;
}

.headerTitleContainer:hover {
    opacity: 0.85;
}

.headerLogo {
    height: 2rem;
    width: auto;
}

.headerTitle {
    margin-left: 0.5rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    font-size: 1.1rem;
}

.headerNavList {
    z-index: 100;
    display: none;
    flex-direction: column;
    background: #01293a;
    position: absolute;
    top: 2.7rem;
    right: 0;
    width: auto;
    list-style: none;
    padding: 1.1rem;
    align-items: flex-end;
    border-radius: 0 0 0.5rem 0.5rem;
}

.headerNavList.show {
    display: flex;
}

.headerNavPageLink {
    padding: 1rem;
    border-bottom: 1px solid hsl(198 60% 25% / 0.4);
    text-align: right;
    color: hsl(0 0% 97%);
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 200ms ease;
    font-size: 1.2rem;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: hsl(0 0% 100%);
    text-decoration: none;
    font-size: 1.2rem;
    text-align: right;
    padding: 1rem;
}

.headerNavLeftMargin {
    display: none;
}

.menuToggle {
    display: block;
    background: none;
    border: none;
    color: hsl(0 0% 97%);
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 101;
}

.loginMenuContainer {
    display: flex;
    align-items: center;
    gap: 0;
}

@media (min-width: 992px) {
    .headerTitle {
        font-weight: 600;
    }

    .headerNavList {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        position: static;
        width: auto;
    }

    .headerNavPageLink {
        border-bottom: none;
        padding: 0;
        display: block;
    }

    .headerNavPageLink:hover {
        opacity: 1;
    }

    .headerNavPageLinkActive {
        color: hsl(0 0% 100%);
        text-decoration: none;
    }

    .headerNavLeftMargin {
        margin-left: 1.25rem;
        display: block;
    }

    .headerRightText {
        font-weight: normal;
        display: inline-block;
        vertical-align: middle;
    }

    .menuToggle {
        display: none;
    }
}
